* {
  box-sizing: border-box;
  font-family: "Madefor", sans-serif;
  margin: 0;
  padding: 0;
}

.wa-km-nav-wrapper {
  --wa-km-nav-bg-color: #002764;
  --wa-km-nav-text-color: #ffffff;
  --wa-km-nav-link-color: #3BDECA;
  --wa-km-nav-link-font-size: 15px;
  display: flex;
  align-items: center;
  background-color: var(--wa-km-nav-bg-color);
}

.wa-km-nav-container {
  height: 50px;
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .wa-km-nav-container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.wa-km-nav-link {
  cursor: pointer;
  height: 100%;
  color: var(--wa-km-nav-text-color);
  background-color: transparent;
  letter-spacing: 0.6px;
  border: none;
  outline: none;
  font-size: var(--wa-km-nav-link-font-size);
  transition: color 0.2s;
}
.wa-km-nav-link:hover {
  color: var(--wa-km-nav-link-color);
}
.wa-km-nav-link:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 650px) {
  .wa-km-nav-link:not(:last-child) {
    margin-right: 20px;
  }
}
.wa-km-nav-link.active {
  color: var(--wa-km-nav-link-color);
}
